{% extends '@StaticFakeDesign/showroom/layout/default.html.twig' %}

{# @var component \ErdnaxelaWeb\StaticFakeDesign\Showroom\Component #}
{% trans_default_domain 'showroom' %}

{% block content %}
    {% include '@StaticFakeDesign/showroom/include/toolbar.html.twig' %}
    <main class="app-main">
        {% if component %}
            <div id="preview-canvas" class="canvas border-start border-end text-center">
                <iframe name="preview-canvas-iframe" data-src="{{ previewUrl }}" frameborder="0" width="100%" height="500px"></iframe>
            </div>

            {% set tabs = {
                'doc': {
                    label: 'tab.doc.title' |trans|desc('Documentation'),
                    parameters: {component: component, templateName: templateName}
                },
                'parameters': {
                    label: 'tab.parameters.title' |trans({'%count%': component.parameters|length})|desc('Parameters (%count%)') ,
                    parameters: {component: component, parametersForm: parametersForm, previewUrl: previewUrl}
                },
                'accessibility': {
                    label: 'tab.accessibility.title' |trans|desc('Accessibility'),
                    parameters: {component: component}
                },
            } %}
            <div>
                <ul class="nav nav-tabs">
                    {% for tabId,tab in tabs %}
                        <li class="nav-item">
                            <button class="nav-link{{ loop.first ? ' active' }}" id="home-{{ tabId }}"
                                    data-bs-toggle="tab" data-bs-target="#tab-content-{{ tabId }}" type="button" role="tab" aria-controls="tab-content-{{ tabId }}"
                                    {% if loop.first %} aria-selected="true"{% endif %}
                            >
                                {{ tab.label }}
                            </button>
                        </li>
                    {% endfor %}
                </ul>
                <div class="tab-content" id="nav-tabContent">
                    {% for tabId,tab in tabs %}
                        <div class="tab-pane fade show{{ loop.first ? ' active' }}" id="tab-content-{{ tabId }}" role="tabpanel" aria-labelledby="tab-{{ tabId }}">
                            {% include '@StaticFakeDesign/showroom/tab/'~ tabId ~'.html.twig' with tab.parameters only %}
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endif %}
    </main>
{% endblock %}

{% block javascripts %}
    <script type="application/javascript">
        var breakpoints = JSON.parse('{{ showroom.getBreakpoints()|json_encode|raw }}');
        var path = "{{ path }}";
    </script>
    {{ parent() }}
{% endblock %}
