{% macro attributes(attributes) %}
    {% for name, value in attributes %}
        {%- if value is not none and value is not same as(false) -%}
            {{- ' %s="%s"'|format(name, value is same as(true) ? name|e : value|e)|raw -}}
        {%- endif -%}
    {%- endfor -%}
{% endmacro %}

{% block render_component %}
    {% include template with parameters only %}
{% endblock render_component %}

{% block render_menu_item %}
    {% import _self as macros %}
    {%- if item.uri is not empty %}
        <a href="{{ item.uri }}"{{ macros.attributes(item.linkAttributes|merge({'class': 'nav-link'})) }}>{{ item.label }}</a>
    {%- else %}
        <span{{ macros.attributes(item.labelAttributes|merge({'class': 'nav-link'})) }}>{{ item.label }}</span>
    {%- endif %}
{% endblock %}
