{% extends 'static/layout.html.twig' %}
{% block content %}
    <article>
        <h1>Block</h1>
        <p>
            To generate a block, the following parameter need to be defined : <code>erdnaxelaweb.static_fake_design.block_definition:
                []</code>
        </p>
        <p>Example for a "list" block</p>
        <pre>
            <code>
erdnaxelaweb.static_fake_design.block_definition:
   list:
      fields:
        contents:
          required: true # if value is required
          type: content   # field type
          value: []  # optional - force a value
          options: []    # list of options to pass to the generator
            </code>
        </pre>
        <p>
            See <a href="/static/examples/content">here</a> for the list of available fields types and theirs options.
        </p>
        <hr>
        <h2>Example</h2>
        {# @fake var141 block({'type': 'list'}) #}
        {# @fake var142 block({'type': 'list', 'view': 'headlines'}) #}
        {# @fake var143 block('list') #}
        {# @fake var144 block('list', 'headlines') #}
        <pre>
            <code>
&#123;# @fake var block(&#123;&#39;type&#39;: &#39;list&#39;}) #}
&#123;# @fake var block(&#123;&#39;type&#39;: &#39;list&#39;, &#39;view&#39;: &#39;headlines&#39;}) #}
&#123;# @fake var block(&#39;list&#39;) #}
&#123;# @fake var block(&#39;list&#39;, &#39;headlines&#39;) #}
&lt;p&gt;&lt;b&gt;Name :&lt;/b&gt; &#123;&#123; var.name }}&lt;/p&gt;
&lt;p&gt;&lt;b&gt;Type :&lt;/b&gt; &#123;&#123; var.type }}&lt;/p&gt;
&lt;p&gt;&lt;b&gt;View :&lt;/b&gt; &#123;&#123; var.view }}&lt;/p&gt;
&lt;p&gt;&lt;b&gt;Creation date :&lt;/b&gt; &#123;&#123; var.creationDate|format_datetime }}&lt;/p&gt;
&lt;p&gt;&lt;b&gt;Modification date :&lt;/b&gt; &#123;&#123; var.modificationDate|format_datetime }}&lt;/p&gt;
&lt;p&gt;&lt;b&gt;Fields :&lt;/b&gt;&lt;/p&gt;
&#123;% for fieldIdentifier, field in var.fields %}
    &#123;&#123; fieldIdentifier }} : &#123;&#123; dump(field) }}
&#123;% endfor %}
            </code>
        </pre>
        <p><b>Name :</b> {{ var144.name }}</p>
        <p><b>Type :</b> {{ var144.type }}</p>
        <p><b>View :</b> {{ var144.view }}</p>
        <p><b>Creation date :</b> {{ var144.creationDate|format_datetime }}</p>
        <p><b>Modification date :</b> {{ var144.modificationDate|format_datetime }}</p>
        <p><b>Fields :</b></p>
        {% for fieldIdentifier, field in var144.fields %}
            {{ fieldIdentifier }} : {{ dump(field) }}
        {% endfor %}
    </article>
{% endblock %}
