{% extends 'static/layout.html.twig' %}
{% block content %}
    <article>
        <h1>Video</h1>
        <h2>Example</h2>
        {# @fake var1 video #}
        {# @fake var2 video({'imageVariationName': 'large'}) #}
        {# @fake var3 video('large') #}
        <pre>
            <code>
&#123;# @fake var video #&#125;
&#123;# @fake var video({'imageVariationName': 'large'}) #&#125;
&#123;# @fake var video('large') #&#125;

&lt;p&gt;&lt;b&gt;Title :&lt;/b&gt; &#123;&#123; var1.title }}&lt;/p&gt;
&lt;p&gt;&lt;b&gt;Duration :&lt;/b&gt; &#123;&#123; var1.duration }}&lt;/p&gt;
&lt;p&gt;&lt;b&gt;Caption :&lt;/b&gt; &#123;&#123; var1.caption }}&lt;/p&gt;
&lt;p&gt;&lt;b&gt;Credits :&lt;/b&gt; &#123;&#123; var1.credits }}&lt;/p&gt;
&lt;p&gt;&lt;b&gt;Transcript :&lt;/b&gt; &#123;&#123; var1.transcript }}&lt;/p&gt;
&lt;p&gt;&lt;b&gt;Video :&lt;/b&gt;
    &#123;% include &#39;static/helper/video.html.twig&#39; with &#123;video: var1} only %}
&lt;/p&gt;
            </code>
        </pre>

        <p><b>Title :</b> {{ var1.title }}</p>
        <p><b>Duration :</b> {{ var1.duration }}</p>
        <p><b>Caption :</b> {{ var1.caption }}</p>
        <p><b>Credits :</b> {{ var1.credits }}</p>
        <p><b>Transcript :</b> {{ var1.transcript }}</p>
        <p><b>Video :</b>
            {% include 'static/helper/video.html.twig' with {video: var1} only %}
        </p>

    </article>
{% endblock %}
