{# @var component \ErdnaxelaWeb\StaticFakeDesign\Value\Component #}
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <h1 class="mb-0">{{ component.name }}</h1>
            <pre>
                <code class="lang-twig">
                    {% set displayFunction = component.type == 'content' ? 'display_content' : 'display_component' %}
                    &#123;&#123; {{ displayFunction }}('{{ templateName }}', {{ component.parameters|json_encode }}) &#125;&#125;
                </code>
            </pre>

            <p>{{ component.description|raw }}</p>
        </div>
    </div>
</div>
