{# @var component \ErdnaxelaWeb\StaticFakeDesign\Showroom\Component #}
{% form_theme parametersForm 'bootstrap_5_horizontal_layout.html.twig' %}
{{ form_start(parametersForm, {attr: {target: 'preview-canvas-iframe', action: previewUrl}}) }}
<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Label</th>
            <th>Type</th>
            <th>Required</th>
            <th>Value</th>
        </tr>
    </thead>
    <tbody>
    {% for parameter in component.parameters %}
        {% set parameterForm = attribute(parametersForm, parameter.name) ?? null %}
        <tr class="align-middle">
            <td>{{ parameter.name }}</td>
            <td>{{ parameter.label }}</td>
            <td>{{ parameter.type }}</td>
            <td>{{ (parameter.required ? 'true': 'false')|trans }}</td>
            <td>{{ parameterForm ? form_widget(parameterForm) }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{{ form_end(parametersForm) }}
